.poc-ds-heading.poc-ds-heading--large {
  font-size: 2rem;
  font-weight: 700;
  color: #002561;
  margin-bottom: 1rem;
}
.poc-ds-heading-xl {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
